@model PaginatedList<Book>


<thead>
    <tr>
        <th>Код</th>
        <th>Новий?</th>
        <th>
            <a asp-action="Indexdata" asp-route-sortOrder =@ViewData["BookName"] asp-route-searchString=@ViewData["CurrentFilter"]
            data-ajax="true" data-ajax-update ="#Tabledata" data-ajax-method="GET">
                Назва книги
            </a>
        </th>
        <th>Ціна</th>
        <th>
            <a asp-action="Indexdata" asp-route-sortOrder=@ViewData["BookName"] asp-route-searchString=@ViewData["CurrentFilter"]
               data-ajax="true" data-ajax-update="#Tabledata" data-ajax-method="GET">
                Видавництво
            </a>
        </th>
        <th>Сторінки</th>
        <th>Формат</th>
        <th>Дата</th>
        <th>Пресс-запуск</th>
        <th>Тема</th>
        <th>
            <a asp-action="Indexdata" asp-route-sortOrder=@ViewData["BookName"] asp-route-searchString=@ViewData["CurrentFilter"]
               data-ajax="true" data-ajax-update="#Tabledata" data-ajax-method="GET">
                Категорія
            </a>
        </th>
    </tr>

</thead>